doit.dep
PGScmd.cc
PGScmd.dat
PGScmd.h
PGScltnc.o
PGScltncoui.cc
PGScltncoui.o
PGSsrvr.o
PGSsrvroui.cc
PGSsrvroui.o
PGScol.cc
tm.dac
PGScoloui.cc
PGScol.o
PGScoloui.o
PGSengext.cdf
PGSengextcdf.oui
PGSengextcdf.tmc
PGSengext.cc
PGSengextoui.cc
PGSengext.o
PGSengextoui.o
*.err
*.o
*.exe
*.stackdump
Makefile
doit
PGScltnc
PGSsrvr
PGScol
PGSengext
